<div class="container-fluid h-100">
	<div class="row h-100 justify-content-center align-items-center">
		<div class="col-sm-11 col-md-8 col-lg-7 col-xl-5 jumbotron">
			<form  (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
				<h2 class="text-center">Sign Up</h2>
				<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
					<label for="name">Name</label>
					<input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" id="name" aria-describedby="emailHelp" placeholder="Enter Name">
				</div>
				<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
					<div *ngIf="f.submitted && !email.valid" class="help-block text-danger">Email is required</div>
				</div>
				<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
					<div *ngIf="f.submitted && !password.valid" class="help-block text-danger">Password is required</div>
				</div>
				<!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
					<div *ngIf="f.submitted && !password.valid" class="help-block text-danger">Password is required</div>
				</div> -->
				<div class="row">
					<div class="col text-left">
						<button  class="btn btn-primary">
							<i class="fas fa-sign-in-alt"></i>
							Submit
						</button>
					</div>
					<div class="col text-right">
						<a routerLink="/auth/login">Back to Login</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>