.alert-group {
  position: fixed;
  width: 40% ;
  max-width: 300px;
  right: 3px ;
  top: 3px ;
  z-index: 1060;
}

ngb-alert .alert {
  font-size: 0.8rem;
}

ngb-alert button {
  height: 100%;
  line-height: 0.7;
}
