<!-- <div class="page-header jumbotron jumbotron-fluid pt-3 pb-2 pl-3 pr-3">
  <h2 class="display-6">Employee List</h2>
  <button  (click)="openModal(null,employeeModal)" class="btn btn-secondary buttonPosition">Create</button>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>
      <button (click)="addSubLevels(commodities,'add')" *ngIf="data.length == 0" class="btnDirectory">
        <i class="fa fa-plus"></i>
      </button>
       <button (click)="addSubLevels(commodities,'minus')" *ngIf="data.length > 0" class="btnDirectory">
        <i class="fa fa-minus"></i>
      </button>
       <i class="fa fa-folder folderIcon" ></i>{{commodities.name}}</p>
      <app-list [data]="data" [level2data]="level2data" [level3data]="level3data" [level4data]="level4data" [level]="level" (exportChildren)="commoditChildren($event)" 
      (exportsecondChildren)="commoditSecondChildren($event)" (exportThirdChildren)="commoditThirdChildren($event)"></app-list>
    </div>
  </div>
</div>