@import "./bootstrap.min.css";
.small-button {
  height: 32px;
}

.form-check .form-check-input {
  vertical-align: bottom;
}

section {
  padding: 2rem 10px 1rem;
  padding: 1.25rem 0 0;
  margin-bottom: 15px;
}

section>.section-header {
  display: flex;
  flex: 1 1 100%;
  padding: 10px 15px 10px;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  margin-bottom: 15px;
}

section>.section-header>* {
  display: flex;
  flex: 1 1 auto;
  margin: 0;
  align-items: baseline;
}

section>.section-header .left {
  justify-content: flex-start;
}

section>.section-header .right {
  justify-content: flex-end;
}

section>.section-body {
  margin-top: 1rem;
  padding: 0 1.25px;
}

.no-data {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.no-data p {
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: 300;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.btnDirectory i{
  font-size: .6rem;
}

.folderIcon{
    color: #FF9800;
    padding: 0px 10px;
}

.btnDirectory{
    padding: 2px;
    height: 20px;
    width: 20px;
    line-height: 0rem;
}